.new_expense_form{
    margin:10px;
    padding:10px;
}
.new_expense_form label{
    color:white;
    font-weight:bold;
    font-size:large;
    text-align:center;
}
.new_expense_form input{
    border-radius: 5px;
    margin:10px;
    width:150px;
    height:25px;
}
.new_expense_form button{
    background-color:black;
    color:white;
    border-radius:5px;
    height:30px;
    width: 100px;
    margin-left:25px;
}